@import url("https://use.typekit.net/ojv4ekx.css");

:root {
  --color-primary: #7510f7;
  --color-secondary: #878d98;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #ced4da;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// sets font family for everything
body * {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
}

a {
  width: fit-content;
}

img {
  width: 100%;
}

td > .nav-link {
  padding: 0 !important;
}

.navbar {
  .navbar-brand.is_logged_in {
    width: 250px;
    padding: 12px 10px 12px 20px;
    background-color: var(--color-primary);
    color: var(--color-white) !important;
  }
}
.navbar-brand.active {
  color: var(--color-primary) !important;
  border-bottom: 2px solid var(--color-primary);
}

.navbar-nav {
  .nav-link {
    line-height: 1;
  }
  .nav-link.active {
    color: var(--color-primary) !important;
    border-bottom: 2px solid var(--color-primary);
  }
}

.table-responsive {
  padding: 0 16px;
}

th,
td {
  white-space: nowrap;
}
.password-reset {
  margin-top: 30px;
}
#primary-button {
  margin: 15px;
}
.ui-grid {
  padding: 10px;
}
.news-link {
  color: var(--color-primary);
  width: fit-content;
}
.news-link:hover {
  cursor: pointer;
  color: var(--color-black);
}

.login-form {
  width: 100%;
  max-width: 360px;
  flex: 1;
  min-height: calc(100vh - 56px);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.container-fluid {
  position: relative;
  min-height: calc(100vh - 56px);
  background-color: #f4f4f4;
  padding: 0 !important;
}

.table-responsive {
  padding: 0;
}

.register-button {
  margin-bottom: 20px;
}
.register-modal {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.content-wrapper {
  margin-left: 250px;
  padding: 15px 15px 40px;
}

// Side Bar
.sidebar {
  background-color: #333945;
  width: 250px;
  height: auto;
  display: block;
  position: fixed;
  top: 54px;
  left: 0;
  bottom: 0;
  .nav-link {
    color: var(--color-secondary);
    fill: var(--color-secondary);
    width: auto;
    padding: 12px 10px 12px 20px;
    border-top: 1px solid #383d4b;
    line-height: 16px;
    .svg-icon {
      width: 16px;
      line-height: 16px;
      margin-right: 10px;
      text-align: center;
      vertical-align: text-top;
    }
    .svg-icon.right-arrow {
      width: 10px;
      line-height: 10px;
      float: right;
      margin: 5px 0;
    }
  }
  .nav-link:hover,
  .nav-link.active {
    color: var(--color-white);
    fill: var(--color-white);
    background-color: #3e4654;
  }
}
.examination_date_entry {
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--color-gray);
  border-radius: 0.25rem;
}

.btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}
.btn-primary:hover {
  opacity: 0.9;
}
.btn:disabled:hover {
  cursor: no-drop;
}

.btn-primary.is-highlighted {
  background-color: #ff385c !important;
  border-color: #ff385c !important;
  padding: 0.5rem 2rem;
  border-radius: 100px;
}

.card {
  max-width: 1200px;
  margin: auto;
}

// ck editor styling
.ck.ck-button.ck-off.ck-dropdown__button:not(.ck-button_with-text),
.ck-file-dialog-button {
  display: none;
}
